.one-wrapper
  position: fixed
  z-index: 1000
  top: 0
  left: 0
  background: white
  width: 100vw
  height: 100vh
//   .container
//     margin: 0 auto
//     margin-top: 150px
//     position: relative
//     width: 150px
//     height: 150px
//     .logo
//       position: absolute
//       width: 150px
//       &.logo1
//         z-index: 1000
//         animation: rotate 1s infinite linear
//
//       &.logo2
//         display: none
//         z-index: 1001
//         animation: rotate 1s infinite
//
// @-webkit-keyframes rotate
//   0%
//     transform: rotate(0deg)
//   100%
//     transform: rotate(360deg)
