.section-wrapper
  .navigation-wrapper
    .button-group
      button(@click='changeType(0)', :class='{"active": type==0}') 全部
      button(@click='changeType(1)', :class='{"active": type==1}') Bug
      button(@click='changeType(2)', :class='{"active": type==2}') 需求
  .section-content(v-if='allData && allData.length > 0')
    .item-wrapper(v-for='item of allData' @click.stop='handleEdit(item)', :class='{"selected": selected==item._id}')
      .state
        span.isImportant(v-if='item.isImportant') 重要
        span.not(v-else) -
        span.isUrgent(v-if='item.isUrgent') 紧急
        span.not(v-else) -
      span.title(v-text='item.title')
      span.tag(v-if='item.tag') {{item.tag}}
      span.tag {{item.finisherId ? item.finisherId.name : item.to.name}}
      span.tag(v-if='item.level == 1') 待办
      span.tag(v-if='item.level == 2') 待审核
      span.tag(v-if='item.level == 5') 归档
  .loadMore(@click='getAllData' v-if='allData && allData.length > 0 && nextPageNo > 0') 加载更多
  NoData(v-if='allData && allData.length == 0 && nextPageNo==0')
  TodoEdit.todoEdit-wrapper(:curPost='curPost', :page='$route.name', :class='{"isEdit": isEdit}')
