
.section-wrapper
  //- .section-title 创建任务
  //- .navigation-wrapper
  //-   p.section-title 创建任务
  .section-content
    Form.form-wrapper(:label-width="60", :rules="ruleValidate", ref="formData", :model="formData")
      Form-item.input-wrapper(label='标题' prop='title')
        Input(size='large' v-model='formData.title')
      Form-item.input-wrapper(label='描述')
        #editor
      Form-item.input-wrapper(label='类型')
        Radio-group(v-model='formData.type')
          Radio(label='2') 需求
          Radio(label='1') Bug
      Form-item.input-wrapper(label='优先级')
        //- Checkbox(v-model='formData.isImportant') 非常重要
        //- Checkbox(v-model='formData.isUrgent') 非常紧急
        .type-wrapper
          .title 重要性
          Radio-group.radio-group(v-model='formData.isImportant')
            Radio(label='true') 高
            Radio(label='false') 低
        .type-wrapper
          .title 紧急性
          Radio-group.radio-group(v-model='formData.isUrgent')
            Radio(label='true') 高
            Radio(label='false') 低
      Form-item.input-wrapper(label='指派' prop='to')
        //- Select.user-select(size='large' v-model='formData.from')
        //- v-if='allUser && allUser.length > 0'
        Select.user-select(v-if='allUser && allUser.length > 5' size='large' v-model='formData.to')
          Option(v-for='item of allUser', :value='item.userId._id', :key='item.userId._id') {{item.userId.name}} -- {{item.userId.position}}
        Radio-group(v-else v-model='formData.to')
          Radio(v-for='item of allUser', :label='item.userId._id', :key='item.userId._id') {{item.userId.name || $api.placeholder.noname}}
      Form-item.input-wrapper(label='图片' v-if='isAddImg')
        ImgUpload(:folderName='`noteImg/${$route.params.id}/`', 
        :img='formData.noteImg', 
        :picroot='$api.link.qiniuUrl',
        imageName='createpost'
        @fileUploaded='fileUploaded')
      Button.addImg(@click='isAddImg=true' v-if='!isAddImg') 添加图片
      Form-item.input-wrapper
        Button.btn-submit(type="primary" size='large' @click='handleSubmit', :loading="modal_create_loading") 保存
