.one-wrapper
  PmHeader
  .two-wrapper
    //- SideBar.sidebar-wrapper
    .productName(v-if='stateInfo.curProduct') {{stateInfo.curProduct.name}}
    aside.side-bar.sidebar-wrapper
      div.con
        p.con-title 我的
        router-link(:to='{name: "ProductCreate"}' exact)
          i.iconfont.icon-createBom
          span 创建任务
        router-link(:to='{name: "ProductTodoT"}' exact)
          i.iconfont.icon-lishirenwu
          span 创建历史
        router-link(:to='{name: "ProductTodoL"}' exact)
          i.iconfont.icon-wancheng
          span 我的任务

        //- div(v-if='$api.GetAuth() && $api.GetAuth().userInfo.role == "测试者"')
        //-   //- 测试人员
        //-   router-link(:to='{name: "ProductTodoL"}' exact)
        //-     i.iconfont.icon-list
        //-     span 我的任务
        //-   router-link(:to='{name: "ProductTodoT"}' exact)
        //-     i.iconfont.icon-lishirenwu
        //-     span 我创建的
        //- div(v-else)
        //-   //- 开发者
        //-   router-link(:to='{name: "ProductTodoM"}' exact v-if='isMatrix')
        //-     i.iconfont.icon-list
        //-     span 我的任务
        //-   router-link(:to='{name: "ProductTodoL"}' exact v-else)
        //-     i.iconfont.icon-list
        //-     span 我的任务
        router-link(:to='{name: "ProductNotification"}' exact)
          i.iconfont.icon-xiaoxi
          span 消息中心
          span.count(v-if='stateInfo.notification_count > 0')

      .border-dive
      div.con
        p.con-title 全部
        router-link(:to='{name: "ProductStatistics"}' exact)
          i.iconfont.icon-tongji
          span 统计
        router-link(:to='{name: "ProductAllFilter"}' exact)
          i.iconfont.icon-filter
          span 全部任务
        //- router-link(:to='{name: "ProductAllPost", query:{level: 1}}' exact)
        //-   i.iconfont.icon-daiban
        //-   span 待办
        //- router-link(:to='{name: "ProductAllPost", query:{level: 2}}' exact)
        //-   i.iconfont.icon-shenhe
        //-   span 待审核
        //- router-link(:to='{name: "ProductAllPost", query:{level: 5}}' exact)
        //-   i.iconfont.icon-wancheng
        //-   span 已归档
      .border-dive
      div.con
        p.con-title 设置
        router-link(:to='{name: "ProductMember"}' exact)
          i.iconfont.icon-chengyuan
          span 成员管理
        router-link(:to='{name: "ProductSetting"}' exact)
          i.iconfont.icon-settings
          span 产品设置
      //- .isMatrix-wrapper(:class='{"true": isMatrix}' v-if='$api.GetAuth() && $api.GetAuth().userInfo.role == "开发者"')
      //-   span.title Matrix Mode
      //-   i-switch.isMatrix(v-model='isMatrix', @on-change='handleIsMatrix')
      //-     span(slot="open") 开
      //-     span(slot="close") 关
    .main-wrapper
      router-view.contain-wrapper
    
