Form.form-wrapper(:label-width="60", ref="formData", :model="formData")
  Form-item.input-wrapper(label='产品ID')
    Input(size='large' v-model='formData._id' disabled)
  Form-item.input-wrapper(label='产品名称')
    Input(size='large' v-model='formData.name')
  Form-item.input-wrapper(label='Logo')
    ImgUpload(:folderName='`productlogo/`', 
    :img='formData.logo', 
    :picroot='$api.link.qiniuUrl',
    imageName='productlogo'
    @fileUploaded='fileUploaded')
  Form-item.input-wrapper
    Button.btn-submit(type="primary" size='large' @click='handleSubmit', :loading="modal_create_loading") 保存
