@import "../_mixin/mixin.sass"
.section-wrapper
.section-content
  // padding: 30px
  .item-wrapper
    display: inline-block
    padding: 30px
    margin-bottom: 30px
    // box-shadow: $box-shadow
    text-align: center
    .wrapper-title
      margin-bottom: 15px
      color: $gray
      font-weight: $fw-lg
      text-align: left
    .navigation-wrapper
      margin-bottom: 30px
    .block
      display: inline-block
      margin-right: 50px
      text-align: center
      &:last-child
        margin-right: 0
      .item-title
        margin: 15px 0
        margin-bottom: 0
        font-size: 3rem
        font-weight: $fw-lg
        color: #3A4266
      .des
        color: $gray
