.section-wrapper
  //- .section-title(v-if='isMatrix == "list"') 我的任务
  .isMatrix-wrapper(:class='{"true": isMatrix}')
    span.title Matrix Mode
    i-switch.isMatrix(v-model='isMatrix', @on-change='handleIsMatrix')
      span(slot="open") 开
      span(slot="close") 关
  .section-content(v-if='!isMatrix')
    .item-wrapper(v-for='item of allData' @click.stop='handleEdit(item)', :class='{"selected": selected==item._id}')
      .state
        span.isImportant(v-if='item.isImportant') 重要
        span.not(v-else) -
        span.isUrgent(v-if='item.isUrgent') 紧急
        span.not(v-else) -
      span.title(v-text='item.title')
      .state
        span.type(v-if='item.type == 1') Bug
        span.type.newNeed(v-else-if='item.type == 2') 需求
    NoData(v-if='allData && allData.length == 0')
  .matrix-wrapper(v-else)
    .con
      .block-wrapper
        .matrix-title.matrix-title1 重要／紧急
        .item-wrapper(v-for='item of allData1' @click.stop='handleEdit(item)', :class='{"selected": selected==item._id}')
          span.title(v-text='item.title')
          .state
            span.type(v-if='item.type == 1') Bug
            span.type.newNeed(v-else-if='item.type == 2') 需求
        //- NoData(v-if='allData || allData1.length == 0', size='small')
      .block-wrapper
        .matrix-title.matrix-title2 重要／不紧急
        .item-wrapper(v-for='item of allData3' @click.stop='handleEdit(item)', :class='{"selected": selected==item._id}')
          span.title(v-text='item.title')
          .state
            span.type(v-if='item.type == 1') Bug
            span.type.newNeed(v-else-if='item.type == 2') 需求
        //- NoData(v-if='allData || allData3.length == 0', size='small')
    .con
      .block-wrapper
        .matrix-title.matrix-title3 不重要／紧急
        .item-wrapper(v-for='item of allData2' @click.stop='handleEdit(item)', :class='{"selected": selected==item._id}')
          span.title(v-text='item.title')
          .state
            span.type(v-if='item.type == 1') Bug
            span.type.newNeed(v-else-if='item.type == 2') 需求
        //- NoData(v-if='allData || allData2.length == 0', size='small')
      .block-wrapper
        .matrix-title.matrix-title4 不重要／不紧急
        .item-wrapper(v-for='item of allData4' @click.stop='handleEdit(item)', :class='{"selected": selected==item._id}')
          span.title(v-text='item.title')
          .state
            span.type(v-if='item.type == 1') Bug
            span.type.newNeed(v-else-if='item.type == 2') 需求
        //- NoData(v-if='allData || allData4.length == 0', size='small')
  TodoEdit.todoEdit-wrapper(:curPost='curPost', :class='{"isEdit": isEdit}')
