.todoEdit-contain(@click.stop='doNothing')
  section
    .action-info(v-if='curPost.level == 1')
      Button.btn(@click='isPoint = true') 指派
      Button.btn(@click='isFinish = true') 完成
    .action-info(v-if='curPost.level == 2')
      Button.btn(@click='isPoint = true') 指派
      Button.btn(@click='handleClose(curPost)') 归档
    .action-info(v-if='curPost.level == 5')
      Button.btn(@click='isPoint = true') 重开任务
    .border-dive
    .post-info
      .group
        label 标题：
        .con(v-text='curPost.title')
      .group(v-if='curPost.content')
        label 描述：
        .con(v-html='curPost.content')
      .group(v-if='curPost.noteImg')
        label 图片：
        .con
          .img-wrapper(:class='{"isShowImg": isShowImg}')
            img.noteImg(:src='`${$api.link.qiniuUrl}${curPost.noteImg}${$api.link.qiniuImg}`', alt="" @click='hideImg')
            i.iconfont.icon-guanbi(@click='isShowImg = false')
      //- .group
      //-   label 类型：
      //-   .con
      //-     span.type(v-if='curPost.type == 1') Bug
      //-     span.type(v-else-if='curPost.type == 2') 需求
      .group.level
        label 等级：
        .con
          span.isImportant(v-if='curPost.isImportant') 重要
          span.not(v-else) 不重要
          | ／
          span.isUrgent(v-if='curPost.isUrgent') 紧急
          span.not(v-else) 不紧急
      .group.state
        label 状态：
        .con
          span {{curPost.tag}}
          span ／
          span {{curPost.version}}
          span ／
          span(v-if='curPost.level == 1') 待办
          span(v-if='curPost.level == 2') 待审核
          span(v-if='curPost.level == 3') 已完成
          span ／
          span.type(v-if='curPost.type == 1') Bug
          span.type(v-else-if='curPost.type == 2') 需求
      //- .group.state
      //-   label 状态：
      //-   .con
      //-     span(v-if='curPost.level == 1') 待办
      //-     span(v-if='curPost.level == 2') 待审核
      //-     span(v-if='curPost.level == 3') 已完成
      //- .group(v-if='curPost.version')
      //-   label 版本：
      //-   .con
      //-     span {{curPost.version}}
      //- .group(v-if='curPost.tag')
      //-   label 标签：
      //-   .con
      //-     span {{curPost.tag}}
    .border-dive
    .log-info
      .allData-wrapper
        .item-wrapper(v-for='item of allLog')
          span.time {{item.createdAt}}
          span.from {{item.from.name || $api.placeholder.noname}}
          span.action(v-if='item.action == 1') 指派给
          span.action(v-if='item.action == 2') 完成，等待
          span.action(v-if='item.action == 3') 拒绝
          span.action(v-if='item.action == 4') 评论
          span.action(v-if='item.action == 5') 归档该任务
          span.to(v-if='item.action != 5') {{item.to.name || $api.placeholder.noname}}
          span.action(v-if='item.action == 2') 审核归档
          .content(v-if='item.action != 5') {{item.content}}
        p.anotation 最多显示50条日志
    .comment-info
      .comment-input
        Input(size='large' v-model='formData.content')
      .comment-select
        Select.user-select(size='large' v-model='formData.to' placement='top')
          Option(v-for='item of allUser', :value='item.userId._id', :key='item.userId._id') {{item.userId.name || $api.placeholder.noname}}
      .comment-submit
        Button(size='large' type='primary' @click='createLog') 评论

  Modal.productCreate(title="指派", v-model="isPoint", :mask-closable="false", :closable="false", width='400' @click.stop.native='doNothing')
    Form.form-wrapper(:label-width="60", ref="pointFormData", :model="pointFormData")
      Form-item.input-wrapper(label='指派给')
        Select.user-select(size='large' v-model='pointFormData.to' placement='bottom')
          Option(v-for='item of allUser', :value='item.userId._id', :key='item.userId._id') {{item.userId.name || $api.placeholder.noname}}
      Form-item.input-wrapper(label='描述')
        Input(type='textarea', :rows="4" v-model='pointFormData.content')
    div(slot='footer')
      Button(size='large' @click='isPoint = false') 取消
      Button(type="primary" size='large' @click='pointTo', :loading="modal_create_loading") 确认
      
  Modal.productCreate(title="完成", v-model="isFinish", :mask-closable="false", :closable="false", width='400' @click.stop.native='doNothing')
    Form.form-wrapper(:label-width="60", ref="finishFormData", :model="finishFormData")
      Form-item.input-wrapper(label='指派给')
        Select.user-select(size='large' v-model='finishFormData.to' placement='bottom')
          Option(v-for='item of allUser', :value='item.userId._id', :key='item.userId._id') {{item.userId.name || $api.placeholder.noname}}
      Form-item.input-wrapper(label='描述')
        Input(type='textarea', :rows="4" v-model='finishFormData.content')
    div(slot='footer')
      Button(size='large' @click='isFinish = false') 取消
      Button(type="primary" size='large' @click='finishTo', :loading="modal_create_loading") 确认
      
              
      
