.section-wrapper
  .navigation-wrapper
    .button-group
      button(@click='changeType(0)', :class='{"active": type==0}') 全部
      button(@click='changeType(1)', :class='{"active": type==1}') 待办
      button(@click='changeType(2)', :class='{"active": type==2}') 待审核
      button(@click='changeType(5)', :class='{"active": type==5}') 已归档
  TodoEdit.todoEdit-wrapper(:curPost='curPost', :page='$route.name', :class='{"isEdit": isEdit}')
  .section-content
    .item-wrapper(v-for='item of allData' @click.stop='handleEdit(item)', :class='{"selected": selected==item._id}')
      .state
        span.isImportant(v-if='item.isImportant') 重要
        span.not(v-else) -
        span.isUrgent(v-if='item.isUrgent') 紧急
        span.not(v-else) -
      span.title(v-text='item.title')
      .state
        span.type(v-if='item.type == 1') Bug
        span.type.newNeed(v-else-if='item.type == 2') 需求
      span.tag(v-if='item.tag') {{item.tag}}
      span.tag {{item.to.name}}
      span.tag(v-if='item.version') V{{item.version}}
  .loadMore(@click='getAllData' v-if='allData && allData.length > 0 && nextPageNo > 0') 加载更多
  NoData(v-if='allData && allData.length == 0 && nextPageNo==0')
