.wrapper.user-setting-wrapper
  Form.form-wrapper(:label-width="60", ref="formData", :model="formData")
    Form-item.input-wrapper(label='手机')
      Input(size='large' v-model='formData.mobile' disabled)
    //- Form-item.input-wrapper(label='邮箱')
    //-   Input(size='large' v-model='formData.email' disabled)
    Form-item.input-wrapper(label='姓名')
      Input(size='large' v-model='formData.name')
    Form-item.input-wrapper(label='职位')
      Input(size='large' v-model='formData.position')

    Form-item.input-wrapper(label='头像')
      //- Input(size='large' v-model='formData.avatar')
      ImgUpload(:folderName='`avatar/${formData._id}/`', 
      :imgUrl='formData.avatar', 
      :picroot='$api.link.qiniuUrl',
      imageName='useravatar'
      @fileUploaded='fileUploaded')
    Form-item.input-wrapper(label='角色')
      Radio-group(v-model='formData.role')
        Radio(label='开发者') 开发者
        Radio(label='测试者') 测试者
    Form-item.input-wrapper.submit-wrapper
      Button.btn-submit(type="primary" size='large' @click='handleSubmit', :loading="modal_create_loading") 保存
