.one-wrapper
  //- .two-wrapper
  .bottom-alert(@click='showModel = true') 
    //- span.old 当前版本{{versionData.curVersion}}
    //- span 请尽快升级(旧版可能影响使用)
    //- | >>>>>>
    .new 检测到新版本{{versionData.githubResult.tag_name}}
  .update-wrapper(v-if='versionData.githubResult && versionData.githubResult.assets && showModel')
    .contain
      .top-version-info
        span.old 当前版本{{versionData.curVersion}}
        //- span.point ====>
        span.new 检测到新版本{{versionData.githubResult.tag_name}}
      .update-info(v-if='updateInfo')
        //- p.title 更新内容
        p.des(v-html='updateInfo')
        
      .download-wrapper
        a(@click='$api.Openlink(versionData.githubResult.assets[0].browser_download_url)' v-if='versionData.githubResult.assets[0]')
          i.iconfont.icon-mac
          | Mac 下载
        a(@click='$api.Openlink(versionData.githubResult.assets[1].browser_download_url)' v-if='versionData.githubResult.assets[1]')
          i.iconfont.icon-icon
          | Windows 下载
        a(@click='$api.Openlink(versionData.githubResult.assets[2].browser_download_url)' v-if='versionData.githubResult.assets[2]')
          i.iconfont.icon-linux
          | Linux 下载
    
