.one-wrapper
  PmHeader
  Loading(v-if='isLoading')
  .two-wrapper
    .button-group 
      Button.btn(type='primary' @click='isModal2 = true') 加入已有产品
      Button.btn(@click='isModal = true') 创建产品
    .allData-wrapper
      //- p.title 产品列表
      ProductItem(v-for='item of allData', :key='item._id', :item='item')
      //- .add
      //-   .add-item(@click='isModal = true')
      //-     i.iconfont.icon-addpassengers
    Modal.productCreate(title="创建产品", v-model="isModal", :mask-closable="false", :closable="false", width='400')
      Form.form-wrapper(:label-width="60", :rules="ruleValidate", ref="formData", :model="formData")
        Form-item.input-wrapper(label='名称' prop="name")
          Input(size='large' v-model='formData.name')
        Form-item.input-wrapper(label='Logo')
          ImgUpload(:folderName='`productlogo/`', 
          :img='formData.logo', 
          :picroot='$api.link.qiniuUrl',
          imageName='productlogo-create'
          @fileUploaded='fileUploaded')
      div(slot='footer')
        Button(size='large' @click='isModal = false') 取消
        Button(type="primary" size='large' @click='handleCreate', :loading="modal_create_loading") 创建

    Modal.productCreate(title="加入产品", v-model="isModal2", :mask-closable="false", :closable="false", width='400')
      Form.form-wrapper(:label-width="60", :rules="ruleValidate2", ref="formData2", :model="formData2")
        Form-item.input-wrapper(label='产品ID' prop="productId")
          Input(size='large' v-model='formData2.productId')
        a.anotation(@click='$api.Openlink("https://ws1.sinaimg.cn/large/006tKfTcgy1fiungderraj31k412wgp3.jpg")') 如何查看产品ID？
      div(slot='footer')
        Button(size='large' @click='isModal2 = false') 取消
        Button(type="primary" size='large' @click='handleAdd', :loading="modal_create_loading") 加入
