.wrapper
  .con
    .title 关于TodoKit
    .des 
      p TodoKit是一个免费的项目管理工具。
      p 适合小型初创团队使用（10人以内）。大型团队建议使用功能更加全面的项目管理工具。
      p 每个用户可以创建一个产品，但是可以加入无限个产品
      p 未来考虑开源
      p 任何意见都可以提交到Github，将会统一处理
  .con 
    p.title Buy me a coffee.
    .lists
      .item
        img(src="https://ws2.sinaimg.cn/large/006tNc79gy1fl8fuz7z1pj30e105kglp.jpg", alt="")
        img.qrcode(src="https://ws2.sinaimg.cn/large/006tNc79gy1fl8fz9ohb1j30p011idjj.jpg", alt="")
      .item
        img(src="https://ws3.sinaimg.cn/large/006tNc79gy1fl8fw90z6oj30f905kq33.jpg", alt="")
        img.qrcode(src="https://ws1.sinaimg.cn/large/006tNc79gy1fl8fz9w7scj30w00w0aci.jpg", alt="")
      a.item(@click='$api.Openlink("https://www.paypal.me/biangbiang")')
        img(src="https://ws3.sinaimg.cn/large/006tNc79gy1fl8fe1oumgj30fq05kaa6.jpg", alt="")
